<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}
 - 用户登录
{% endblock %}

{% block css %}
    {% static 'css/login.css' %}
{% endblock %}

{% block main_block %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <div class="text-center welcomeSlogan"><strong>{{ error }}</strong></div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="row">
        <form class="form-signin" action="" method="POST">
            {% csrf_token %}
            <div class="text-center mb-4">
                <img class="mb-4" src="{% static 'icons/lab.png' %}" alt="" width="106" height="106">
                <h1 class="h3 mb-3 font-weight-normal">实验室药品分析管理系统</h1>
                <p> 欢迎登录,未注册请先 <a href="{% url 'Lab:register' %}">立即注册</a></p>

            </div>

            <div class="form-label-group">
                <input name="username" id="inputUserName" class="form-control" placeholder="请输入学号" required=""
                       autofocus="" type="text">
                <label for="inputUserName">学号</label>
            </div>

            <div class="form-label-group">
                <input name="password" id="inputPassword" class="form-control" placeholder="请输入密码" required=""
                       type="password">
                <label for="inputPassword">密码</label>
            </div>

            {#      <div class="checkbox mb-3">#}
            {#        <label>#}
            {#          <input value="remember-me" type="checkbox"> Remember me#}
            {#        </label>#}
            {#      </div>#}
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
    </div>
{% endblock %}